
.themeColor {
    background: rgb(104, 255, 184);
    background: linear-gradient(0deg, rgba(104, 255, 184, 1) 0%, rgba(34, 193, 195, 1) 98%);

    background: rgb(189, 148, 233);
    background: linear-gradient(0deg, rgba(189, 148, 233, 1) 16%, rgba(188, 174, 238, 1) 100%);

}

.bannerColor {
    background: rgb(191, 190, 190);
    background: linear-gradient(90deg, rgba(191, 190, 190, 1) 0%, rgba(255, 251, 251, 1) 90%);
}

@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

.explore-thesis{
    background: rgb(189, 148, 233);
    background: linear-gradient(0deg, rgba(189, 148, 233, 1) 16%, rgba(188, 174, 238, 1) 100%);


}

.custom-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #7A5EAF;
}

.sub-heading {
    font-family: "Clicker Script", cursive;
    font-size: 1.25rem;
    font-weight: bolder;
    color: #000000;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




  
.announcement { 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: block;
    align-items: center;
    height: 40vh;
    background-color: #f3e9e9; 
    background-image: url('announcement.png'); 
    background-size: cover; 
    background-position: center;
    padding-top: 100px;
    padding-bottom: 300px;
    text-align: center;
  }

  .date-button {
    background-color: #ff6b6b; 
    color: white;
    font-size: 6vw;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;            
    text-align: center;   
  }

  .thesis-date {
    font-size: 8vw;
    color: #325fa6; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; 
  }
 
  
  @media (min-width: 768px) {
    .announcement {
      flex-direction: row;
      height: 20vh;
    }
  
    .thesis-date {
      font-size: 4vw;
      margin-bottom: 0;
    }
  
    .date-button {
      font-size: 3vw;
      margin-left: 20px;
    }
  }
  


.iiuc {
    font-family: Arial;
    font-stretch: expanded;
    font-weight: bold;

}

.login-btn {
    background: rgb(246, 224, 93);
    background: linear-gradient(0deg, rgba(246, 224, 93, 1) 100%, rgba(233, 205, 148, 1) 100%, rgba(188, 174, 238, 1) 100%);
}

.card {
    min-height: 300px;
    /* Set a minimum height for the cards */
    max-width: 320px;
    /* Set a maximum width to ensure uniform size */
}